{% extends 'movie/base.html' %}
{% load static %}
{% load mytags %}

{% block title %} - Logout{% endblock %}

{% block content %}

<br>
<h2>End of Session</h2>
<br>
<div style="margin-left:40px;">
  The end of the session is normally scheduled for this date : <i>{{ request.session.get_expiry_date }} </i><br>
<br>
  Please confirm the immediate end of the session :
  <button style="margin-left:30px;" type="button" onclick="location.href='{% url 'logout' %}'">Yes, I Confirm</button>
</div>

{% endblock %}
