{% load static %}
{% load mytags %}
    <table class="table table-striped table-sm">
        <thead class="thead-light" data-file-width="5px">
            <tr>
                <th scope="col" class="col-2 text-center">Movie title</th>
                <th scope="col" class="col-3 text-center">filename</th>
                <th scope="col" class="col-3 text-center">DLNA URI</th>
            </tr>
        </thead>
        {% for id, title, filename, uri in contents %}
        <tr>
            <td><a href="{% url 'movie_details' id %}">{{ title }}</a></td>
            <td>{{ filename }}</td>
            <td {% if uri == 'NOT FOUND' %} class="bg-danger"{% endif%}>{{ uri }}</td>
        </tr>
        {% endfor %}


    </table>