{% load static %}
{% load mytags %}

    {% comment %} Movies table include file {% endcomment %}
    <table id="movietable"  
        data-toggle="table"
        data-sortable="true"
        class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                {% if not 'poster' in hidden_fields %}  <th data-field="poster" data-align="center" data-width="70px">Poster</th> {% endif %}
                {% if user.is_superuser %}{% if not 'idmovie' in hidden_fields %}  <th data-field="idmovie" data-align="rigth" data-width="1">ID</th> {% endif %}{% endif %}
                <th data-field="title" data-sortable="true">Title</th>
                <th data-field="year" data-sortable="true" data-width="4">Year</th>
                <th data-field="overview" data-width="50" data-width-unit="%">Synopsys</th> 

                {% comment %} {% if not 'rate' in hidden_fields %} <th data-field="rate" data-sortable="true" data-align="center" data-width="6" data-width-unit="rem">Rate</th> {% endif %} {% endcomment %}
                {% if not 'file' in hidden_fields %} <th data-field="file" data-sortable="true" data-width="30" data-width-unit="rem">File</th> {% endif %}
                <th data-field="duration" data-sortable="true" data-width="6" data-width-unit="rem">Duration</th>
                {% if not 'screen' in hidden_fields %} <th data-field="resolution" data-sortable="true" data-width="6" data-width-unit="rem">Screen</th> {% endif %}
                {% if not 'size' in hidden_fields %} <th data-field="size" data-sortable="true" data-align="right" data-width="10" data-width-unit="rem">Size</th> {% endif %}
                {% if not 'format' in hidden_fields %} <th data-field="format" data-width="10" data-width-unit="rem">Format</th> {% endif %}
                {% if not 'rate' in hidden_fields %}<th data-field="view" data-width="1">V</th>  {% endif %}
                {% if not 'rate' in hidden_fields %}<th data-field="rate" data-width="1">R</th>  {% endif %}
                {% if not 'added' in hidden_fields %} <th data-field="added" data-width="6" data-width-unit="rem">Added</th> {% endif %}
            </tr>
        </thead>
        {% for movie in movies %}
        <tr>
            {% if not 'poster' in hidden_fields %} <td> <a data-fancybox href="{{ movie.movie.poster.all.0.poster.url }}"><img src="{{ movie.movie.poster.all.0.poster.url }}" width="68px"></a> </td> {% endif %}
            {% if user.is_superuser %}{% if not 'idmovie' in hidden_fields %} <td> {{ movie.id }}</td> {% endif %}{% endif %}
            <td class="cell-text"> <a href="{% url 'movie_details' movie.id %}">{{ movie.movie.title }}</a> </td>
            <td> {{ movie.movie.release_year }}</td>
            <td class="cell-text"> {{ movie.movie.overview }} </td>
            {% if not 'file' in hidden_fields %} <td> {{ movie.file }}</td> {% endif %}
            <td> {{ movie.duration|sectoduration }}</td>
            {% if not 'screen' in hidden_fields %} <td> {{ movie.screen_size }}</td> {% endif %}
            {% if not 'size' in hidden_fields %} <td> {{ movie.file_size|smartunit:'B' }}</td> {% endif %}
            {% if not 'format' in hidden_fields %} <td> {{ movie.movie_format }}</td> {% endif %}
            {% if not 'rate' in hidden_fields %} <td> {{ movie.viewed|notnone }} </td> {% endif %}
            {% if not 'rate' in hidden_fields %} <td> {{ movie.rate|notnone }}</td> {% endif %}
            {% if not 'added' in hidden_fields %} <td> {{ movie.date_added|shortdate }}</td> {% endif %}
        </tr>
        {% endfor %}
    </table>




