{% extends 'movie/base.html' %}
{% load static %}
{% load mytags %}

{% block title %}Movies by Genre{% endblock %}


{% block content %}

<style>
    body {
        min-width:1200px;
        width: auto;            /* Firefox will set width as auto */
    }

</style>


<h2 class="header-color"> {{ table_type }}</h2>

<table class="table table-hover table-sm">
    <thead class="thead-light" data-file-width="5px">
        <tr>
            <th scope="col">Genre</th>
            <th scope="col">Movies number</th>
        </tr>
    </thead>
    {% for genrecount in genres %}
    <tr>
        <td> {{ genrecount.0 }}</td>
        <td> {{ genrecount.1 }}</td>
    </tr>
    {% endfor %}
</table>
<br>




{% for moviesgenre in MoviesGenres %}
<h3>* Genre "{{ moviesgenre.0 }}"</h3>

{% include "movie/inc_tablemovies.html" %}

{% include "movie/inc_pagination.html" %}



{% endblock %}
