{% extends 'movie/base.html' %}
{% load static %}
{% load mytags %}

{% block title %} - People{% endblock %}

{% block content %}
<head>
<style>
    .table {
        margin: auto;
        width: 50%; 
    }
</style>

</head>
    <h2>{{ table_type }}</h2>
    <table class="table table-striped table-sm w-75" data-toggle="table" data-sortable="true">
        <thead class="thead-dark">
            <tr>
                <th data-field="jobcriter" data-sortable="true">{{ jobcriter }}</th>
                <th data-field="num" class="col-1" data-sortable="true">Movies number</th>
                {% if show_job %}<th data-field="job" class="col-4" data-sortable="true">Job</th>{% endif %}
            </tr>
        </thead>
        {% for person in people %}
        <tr>
            <td><a href="{% url 'movies_jobperson' '' person.name %}"> {{ person.name }}</a> </td>
            <td class="text-center"> {{ person.total }} </td>
            {% if show_job %}<td> {{ person.job }} </td>{% endif %}

        </tr>
        {% endfor %}
    </table>


{% endblock %}
