{% extends 'movie/base.html' %}
{% load static %}
{% load mytags %}

{% block title %}

{% endblock %}

{% block content %}
<head>
<style>
    .table {
    margin: auto;
    width: 40%; 
    }
    th{
        max-width: 100px;
        text-align: center;
    }
    td{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
    </style>
</head>
    <h2>{{ table_type }}</h2>
    <table class="table table-hover table-sm" width="50%">
        <thead class="thead-dark" data-file-width="5px">
            <tr>
                <th scope="col">{{ jobcriter }}</th>
                <th scope="col" class="col-sm-2">Movies number</th>
                {% if show_job %}<th scope="job">Job</th>{% endif %}
            </tr>
        </thead>
        {% for person in Persons %}
        <tr>
            <td> <a href="{% url 'movies_jobperson' jobcriter person.name %}"> {{ person.name }}</a> </td>
            <td> {{ person.total }} </td>
            {% if show_job %}<td> {{ person.job }} </td>{% endif %}

        </tr>
        {% endfor %}
    </table>


{% endblock %}
