{% extends 'movie/base.html' %}
{% load static %}
{% load mytags %}

{% block title %}People{% endblock %}

{% block content %}
<head>
<style>
    .table {
        margin: auto;
        width: 50%; 
    }
</style>

</head>
<h2 class="header-color">{{ table_type }}</h2>
    
<table class="table table-striped table-sm w-75" data-toggle="table" data-sortable="true">
    <thead class="thead-dark">
        <tr>
            <th data-field="jobcriter" data-sortable="true">{{ jobcriter }}</th>
            <th data-field="num" class="col-1" data-sortable="true">Movies number</th>
            {% if show_job %}<th data-field="job" class="col-4" data-sortable="true">Job</th>{% endif %}
        </tr>
    </thead>
    {% for person in people %}
    <tr>
        <td>{% if person.person__url_img %} <a data-fancybox href="{{ person.person__url_img|tmdb_url }}"><img src="{{ person.person__url_img|tmdb_url }}" height="40px"></a>{% endif %}<a href="{% url 'movies_jobperson' '' person.person__name %}"> {{ person.person__name }}</a> </td>
        <td class="text-center"> {{ person.total }} </td>
        {% if show_job %}<td> {{ person.job__name }} </td>{% endif %}

    </tr>
    {% endfor %}
</table>


{% endblock %}
